:root {
  --font-family: arial, sans-serif;
  --font-size-m: 1rem;
  --font-size-l: 1.5rem;
  --navbar-height: 64px;
  --sidbar-width: 300px;
  --sidbar-width-collapsed: 80px;
  --primary-fallback: #023047;
  --color-fallback: #fff;
  --modal-z-index: 10;
  --overlay-bg-color: rgba(0 0 0 / 50%);
}
