.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.open {
  opacity: 1;
  pointer-events: auto;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-bg-color);
  z-index: var(--modal-z-index);
}

.content {
  max-width: 60%;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--bg-color);
  transform: scale(0.5);
  transition: transform 280ms;

  .open & {
    transform: scale(1);
  }

  .isClosing & {
    transform: scale(0.05);
  }
}
