.scale {
  transition: transform 200ms;

  &:hover {
    transform: scale(1.3);
  }
}

.bold {
  font-weight: 700;
  padding: 20px;
}

.primary {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--contrast-color);
  background-color: var(--primary);
  padding: 10px 20px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  transition: all 280ms;

  &:hover {
    color: var(--primary);
    background-color: var(--contrast-color);
  }
}

.outlined {
  text-transform: uppercase;
  color: var(--contrast-color);
  margin: 1px;
  padding: 10px 20px;
  border: 1px solid var(--contrast-color);
  border-radius: 5px;
  transition: all 280ms;

  &:hover {
    margin: 0;
    border-width: 2px;
  }
}
