.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: var(--sidbar-width);
  background-color: var(--contrast-bg-color);
  transition: width 300ms ease-in-out;
}

.collapsed {
  width: var(--sidbar-width-collapsed);
}

.sidebarLink {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  overflow: hidden;
}

.sidebarLinkIcon {
  display: inline-block;
  text-align: center;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-left: 8px;
  flex-shrink: 0;

  [class^="about"] {
    height: 24px;
  }
}

.sidebarLinkText {
  white-space: nowrap;
  transition: all 200ms linear 100ms;

  .collapsed & {
    width: 0;
    opacity: 0;
  }
}

.sidebarFooter {
  display: flex;
  gap: 10px 20px;
  margin-top: auto;
  padding: 20px;

  .collapsed & {
    flex-direction: column;
  }
}

.sidebarToggle {
  font-size: 0;
  width: 40px;
  height: 40px;
  align-self: flex-end;
  margin-left: auto;
}

.sidebarToggleIcon {
  width: 32px;
  height: 32px;
  transform: rotate(180deg);

  .collapsed & {
    transform: rotate(0);
  }
}
