.inputWrapper {
  display: flex;
}

.label {
  margin-right: 5px;
}

.labelSign {
  vertical-align: middle;
}

.input {
  font-size: inherit;
  color: transparent;
  text-shadow: 0 0 0 var(--color);
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  vertical-align: middle;

  &:focus {
    outline: none;
  }
}

.caretWrapper {
  flex-grow: 1;
  position: relative;
}

.caret {
  height: 2px;
  width: 8px;
  background: var(--color);
  bottom: 0;
  left: 0;
  position: absolute;
  animation: blink 0.7s forwards infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.01;
  }

  100% {
    opacity: 1;
  }
}
