.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
  height: var(--navbar-height);
  padding-right: 32px;
  padding-left: 32px;
  background-color: var(--contrast-bg-color);
}

.themeToggle {
  margin-left: auto;
}
