.errorFallback {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.errorReset {
  font-size: 20px;
  color: var(--color-fallback);
  margin-top: 20px;
  padding: 12px 24px;
  background-color: var(--primary-fallback);
  border-radius: 5px;
}
